body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.angular-google-map-container {
	height: 600px; 
}

.img-map {
	width: 50%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.thumbnail{
	text-align: center;
	padding-top: 10px;
}
.thumbnail img{
	max-width: 200px;
	max-height: 200px;
}

.thumbnail i{
    float: right;
    padding-right: 5px;
}

.contact img{
	width: 200px;
	display: inline-block;
	margin: 50px 0 0 40px;
}
.contact{
	text-align: center;
}