body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.angular-google-map-container { height: 600px; }

.img-map {
	width: 50%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.thumbnail{
	text-align: center;
	padding-top: 10px;
}

.thumbnail i{
    float: right;
    padding-right: 5px;
}