<ui-gmap-google-map center='Main.map.center' zoom='Main.map.zoom'>
    <ui-gmap-marker coords='{latitude: Main.location.lat, longitude: Main.location.long}' idkey="100"></ui-gmap-marker>
    <ui-gmap-window show="Main.windows.show" coords="Main.windows.model" options="Main.windows.options" closeClick="Main.windows.closeClick()" templateUrl="'views/infoView.html'" templateParameter="Main.windows">
      
    </ui-gmap-window>
    <ui-gmap-markers models="Main.eventosArr" coords="'self'" icon="'icon'" events="Main.map.markersEvents">
    </ui-gmap-markers>
</ui-gmap-google-map>